body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
   background-image: url(photo_2025-09-29_10-08-45.jpg);
background-repeat:inherit;
background-position: top;
background-attachment: fixed;} 
form{
     background-image: url(photo_2025-09-29_10-08-45.jpg);
background-repeat:inherit;
background-position: top;
background-attachment: fixed;} 


.container {
    max-width: 400px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
}

label {color: #f4f4f4;
    display: block;
    margin: 10px 0 5px;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;}




button:hover {
    background-color: #218838;
}

#message {
    text-align: center;
    margin-top: 20px;
}